/*fonts*/
@font-face {
    font-family: Abril;
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

/*icons*/
@font-face {
    font-family: 'icomoon';
    src: url('../icons/fonts/icomoon.eot?80hc4u');
    src: url('../icons/fonts/icomoon.eot?80hc4u#iefix') format('embedded-opentype'),
        url('../icons/fonts/icomoon.ttf?80hc4u') format('truetype'),
        url('../icons/fonts/icomoon.woff?80hc4u') format('woff'),
        url('../icons/fonts/icomoon.svg?80hc4u#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-tiktok:before {
    content: "\e900";
}

.icon-x:before {
    content: "\e901";
}

.icon-expand_more:before {
    content: "\e902";
}

.icon-expand_less:before {
    content: "\e903";
}

.icon-facebook:before {
    content: "\ea90";
}

.icon-instagram:before {
    content: "\ea92";
}

.icon-youtube:before {
    content: "\ea9d";
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}


body {
    font-family: Roboto;
    color: #ffffff;
    position: relative;
    background-color: #141416;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Abril;
}

input,
textarea,
button {
    font-family: Roboto;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 12x;
    background-color: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #5e5d5d;
    border-radius: 10px;
    border: 3px solid #ffffff;
}

::-webkit-scrollbar-button:single-button:decrement {
    border: 8px solid transparent;
    border-bottom-color: #5e5d5d;
}

::-webkit-scrollbar-button:single-button:increment {
    border: 8px solid transparent;
    border-top-color: #5e5d5d;
}


/*HEADER*/
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.logo {
    width: 14%;
    padding: 28px 10px;
    border-bottom: 2px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 100%;
}

/*MENU*/
nav ul {
    width: 70%;
    display: flex;
    border: 2px solid #ffffff;
    border-top: none;
    justify-content: space-evenly;
}

nav ul li {
    height: 100%;
}

nav ul li a {
    display: flex;
    gap: 7px;
    height: 100%;
    align-items: center;
    padding: 0 25px;
    text-transform: uppercase;
    font-size: 16px;
}

/*HOVER*/
.collections {
    position: relative;
}

.collections-menu {
    width: 105%;
    position: absolute;
    top: 140%;
    left: 0;
    display: flex;
    flex-direction: column;
    color: #121213;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.collections-menu span {
    display: block;
    padding: 20px 10px;
    font-family: Roboto;
    background-color: #ffffff;
    opacity: 0.4;
    text-transform: uppercase;
    font-size: 13px;
    transition: 0.5s;
}

.collections-menu span:hover {
    opacity: 1;
    color: #78bdc6;
}

.collections:hover .collections-menu {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

/*ICONS*/
.social-icons {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #ffffff;
}

.container-social a {
    margin: 4px;
    font-size: 17px;
}

.container-social>a>span {
    position: relative;
}

.tooltip-icons {
    padding: 5px 8px;
    background-color: #2c2b2b;
    text-transform: capitalize;
    position: absolute;
    top: -155%;
    left: 50%;
    transform: translate(-57%, 0);
    font-size: 11px;
    border-radius: 6px;
    color: rgb(163, 161, 161);
    font-family: Roboto;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.tooltip-icons::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 4px solid transparent;
    border-top-color: #2c2b2b;
}

.container-social a:hover .tooltip-icons {
    opacity: 1;
    visibility: visible;
}

/*hamburger-menu*/
.hamburger-menu {
    width: 20%;
    background-color: #ffffff;
    display: none;
    align-items: center;
    justify-content: center;
}

.line {
    width: 15px;
    height: 2px;
    background-color: #121213;
    position: relative;
}

.line::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #121213;
    position: absolute;
    top: 260%;
    left: 0;
}

.line::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #121213;
    position: absolute;
    bottom: 260%;
    left: 0;
}

/*MAIN*/
/*HERO*/
.hero {
    width: 100%;
    height: 100vh;
    background: url(../images/home_slider_2-2.jpg), no-repeat;
    background-position: 45% 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*HERO-CONTENT*/
.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
}

.hero-content h1 {
    font-weight: normal;
    font-size: 130px;
    text-transform: capitalize;
}

.hero-content p {
    font-size: 30px;
    background-color: rgba(63, 219, 240, 0.5);
    text-transform: uppercase;
    padding: 5px 15px;
    font-family: Abril;
}

.hero-content a {
    border: 2px solid #ffffff;
    padding: 15px 30px;
    display: inline-block !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}

.hero-buttons {
    margin-top: 50px;
    display: flex;
    gap: 20px;
}

/*WELCOME*/
.welcome {
    width: 100%;
}

.inner-welcome {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    padding: 85px 0;
    text-align: center;
}

.inner-welcome h2 {
    font-size: 40px;
    font-weight: normal;
}

.inner-welcome img {
    height: 50px;
}

.inner-welcome p {
    font-size: 16px;
    line-height: 2em;
    margin-bottom: 30px;
    max-width: 1200px;
}

/*MEET-STUDIO*/
.meet-studio {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.studio-content {
    width: 50%;
    height: 25.7vw;
}

.inner-studio {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.inner-studio h2 {
    font-size: 37px;
    font-weight: normal;
}

.inner-studio span {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 4px;
    word-spacing: 2px;
}

.inner-studio p {
    font-size: 16px;
    line-height: 2em;
    width: 90%;
}

.inner-studio a {
    padding: 13px 32px;
    text-transform: uppercase;
    font-size: 14px;
    border: 2px solid #ffffff;
}

.studio-picture {
    width: 50%;
    display: flex;
    background-image: url(../images/1_collection1.jpg);
    background-repeat: no-repeat;
    background-position: 55% 5%;
    background-size: 140%;
    position: relative;
}

.glass {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/*TICKET*/
.ticket {
    width: 100%;
    height: 615px;
    padding: 0px 35px;
    background-image: url(../images/quote_bg_studio1.jpg);
    background-repeat: no-repeat;
    background-position: 20% 50%;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/*LIVE*/
.live {
    width: 750px;
    height: 39%;
    padding: 0px 90px 0px 63px;
    border: 10px solid #ffffff;
    font-size: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
}

.live h2 {
    transform: translate(0, -6%);
    font-weight: normal;
    line-height: 1.1em;
}

/*SIGNUP*/
.signup {
    width: 370px;
    height: 39%;
    padding: 0px 15px;
    background-color: rgba(63, 219, 240, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ffffff;
    padding: 17px 40px;
    font-size: 18px;
    text-align: center;
}

/*TEAM*/
.team {
    width: 100%;
    height: auto;
    padding: 70px 0 100px 0;
}

.container-team {
    width: 93%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-team h2 {
    font-size: 40px;
    font-weight: 300;
}

.container-team p {
    font-weight: 320;
    line-height: 2em;
    font-size: 16px;
}

/*MEMBERS*/
.members {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}

.member {
    width: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member figure {
    width: 100%;
}

.members figure img {
    width: 100%;
}

.members figcaption {
    margin-top: 25px;
}

.members figcaption h3 {
    font-size: 33px;
    font-weight: 100;
}

.members figcaption p {
    font-weight: 300;
}

/*SERVICES*/
.services {
    width: 100%;
    height: 26vw;
    min-height: 510px;
    display: flex;
    flex-wrap: wrap;
    background-color: #141416;
}

/*PICTURE-SERVICES*/
.picture-services {
    width: 50%;
    height: 100%;
    background-image: url(../images/girl_covered1.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

/*CONTENT-SERVICES*/
.content-services {
    width: 50%;
    height: 97%;
    background-color: #4ca9b4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 13px;
    padding: 0 5%;
    text-align: center;
}

.content-services h3 {
    font-size: 40px;
    font-weight: 200;
}

.content-services p {
    line-height: 1.9em;
    font-weight: 350;
}

.content-services :nth-child(2) {
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
}

.content-services a {
    padding: 12px 30px;
    border: 2px solid #ffffff;
    font-size: 17px;
    margin-top: 8px;
}

/*COLLECTION-GALLERY*/
.collection {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*COLLECTION-TITLE*/
.collection-title {
    padding: 65px 0;
    text-align: center;
}

.collection-title>h2 {
    font-weight: 200;
    font-size: 35px;
}

/*COLLECTION-ITEM*/
.collection-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 8px 12px;
}

.item {
    position: relative;
    overflow: hidden;
    height: 100%;
}

.item figure {
    transition: 0.7s;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: transform 0.3s ease-in-out;
}

.item>figure>a {
    width: 100%;
    padding: 35px 25px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    z-index: 100;
    letter-spacing: 5px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 1.6em;
}

.collection-item :nth-child(1) {
    grid-row: span 2;
}

.collection-item :nth-child(5) {
    grid-row: span 2;
    height: 95%;
}

.item-7 {
    grid-row: span 2;
    height: 95%;
}

.item-8 {
    height: 90%;
}

.item-9 {
    transform: translate(0, -12%);
}

.item figcaption {
    width: 100%;
    background-color: #141416;
    position: absolute;
    bottom: -20%;
    left: 0%;
    padding: 0 25px;
    transition: 0.7s;
    transition-delay: 0.1s;
    font-size: 13.5px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    line-height: 1.6em;
    padding-top: 10px;
}

.item:hover figure {
    transform: translate(0, -57px);
}

.item>figure>a:hover {
    color: #80bebf;
}

.item:hover figcaption {
    bottom: 20px;
    transition-delay: 0s;
}

.item figcaption a:hover {
    color: #80bebf;
}

/*TRENDS*/
.trends {
    width: 100%;
    padding: 130px 0;
}

.trends-container {
    width: 95%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

/*CONTENT-TRENDS*/
.content-trends {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.content-trends h2 {
    font-size: 40px;
    font-weight: 100;
}

.content-trends p {
    line-height: 2em;
}

/*PICTURE-TRENDS*/
.picture-trends {
    width: 100%;
}

.picture-trends img {
    width: 93%;
}

/*NEWS-TESTIMONIALS*/
.news-testimonials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*NEWS*/
.news {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.news h2 {
    font-size: 39px;
    font-weight: 100;
}

.news-title {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.news-title>p {
    letter-spacing: 4px;
    word-spacing: 4px;
    text-transform: uppercase;
    margin-top: 17px;
    line-height: 2em;
}

/*CARDS*/
.cards {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 48%;
    border: 1px solid #333333;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-card>.card-picture {
    width: 100%;
    height: 250px;
    max-width: 330px;
    overflow: hidden;
}

.card-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 0.8s;
}

.second-card {
    height: 100%;
}

.second-card>.card-picture {
    width: 100%;
    height: 180px;
    max-width: 250px;
    overflow: hidden;
}

.card-content {
    width: 100%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-content h3 {
    font-size: 25px;
    font-weight: 100;
}

.card-content p {
    line-height: 1.9em;
    margin-bottom: 5px;
}

.card-buttons {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.card-buttons a {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #333333;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 2px;
    transition: 0.5s;
}

.card-buttons :first-child {
    padding-left: 10px;
}

.card-buttons :last-child {
    background-color: #4ca9b4;
}

.card-buttons :first-child:hover {
    border-color: #ffffff;
}

.card-buttons :last-child:hover {
    border-color: #ffffff;
    background-color: transparent;
}

/*FOR HOVER*/
.card-picture:hover img {
    transform: scale(1);
}

/*TESTIMONIALS*/
.testimonials {
    width: 50%;
    background: url(../images/testimonials_bg1.jpg), no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9% 0;
}

.testimonials-container {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 0 auto;
}

.testimonials h2 {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 0;
}

.testimonials-container :nth-child(2) {
    font-size: 15px;
    letter-spacing: 4px;
    word-spacing: 3px;
    text-transform: uppercase;
}

.testimonials img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 75px;
}

.testimonials :nth-child(4) {
    line-height: 1.7em;
    font-size: 18px;
    letter-spacing: 2px;
    font-style: oblique;
}

.testimonials :nth-child(5) {
    font-size: 18px;
    letter-spacing: 2px;
}

.radios {
    appearance: none;
    background-color: transparent;
    width: 12px;
    height: 13px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}

.radios:checked {
    background-color: #ffffff;
}

/*GET-IN-TOUCH*/
.get-in-touch {
    width: 100%;
    padding: 100px 0px;
    background-image: url(../images/get_in_touch_bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*GET-IN-TOUCH-CONTENT*/
.get-in-touch-content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 18px;
}

.get-in-touch-content h2 {
    font-size: 37px;
    font-weight: 100;
}

.get-in-touch-content p {
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 4px;
    font-size: 14px;
    line-height: 1.8em;
}

.get-in-touch-content a {
    border: 2px solid #ffffff;
    padding: 14px 28px;
    font-size: 13px;
    font-weight: bold;
}

/*FOOTER*/
footer {
    width: 100%;
    padding: 48px 0;
    font-size: 13px;
}

/*FOOTER-CONTENT*/
.footer-content {
    width: 94%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-content p {
    line-height: 1.7em;
}

.footer-content p a:hover {
    color: #80bebf;
}

/*FOOTER-ICONS*/
.footer-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: bolder;
}

.footer-icons>a {
    position: relative;
    display: inline-block;
    font-size: 20px;
    padding: 18px;
}

.tooltip-icon {
    padding: 5px 8px;
    background-color: #2c2b2b;
    text-transform: capitalize;
    position: absolute;
    bottom: 115%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 11px;
    border-radius: 6px;
    color: rgb(163, 161, 161);
    font-family: Roboto;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}

.tooltip-icon::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 4px solid transparent;
    border-top-color: #2c2b2b;
}

.footer-icons>a:hover .tooltip-icon {
    opacity: 1;
    visibility: visible;
}

.footer-icons>a:hover {
    background-color: black;
}

.less {
    padding: 11px 16px;
    background-color: #303030;
    position: fixed;
    bottom: 0;
    right: 70px;
    border-radius: 4px 4px 0 0;
    font-weight: bolder;
    scroll-behavior: smooth;
}

.less:hover {
    background-color: #479aa4;
}

/*RESPONSIVE*/
/*LAPTOP L*/
@media(max-width:1440px) {
    .studio-content {
        height: auto;
    }

    .studio-content p {
        font-size: 16px;
    }

    .inner-studio {
        padding: 75px 0;
    }

    .inner-studio p {
        font-size: 13px;
    }

    .content-services {
        padding: 0 3%;
    }

    .content-services :nth-child(2) {
        margin-bottom: 12px;
        font-size: 15px;
    }

    .content-services p {
        font-size: 13px;
    }

    .content-services a {
        padding: 10px 27px;
        font-size: 15px;
        margin-top: 5px;
    }

    .cards {
        padding-bottom: 20px;
    }

    .card-buttons a {
        font-size: 10px;
    }

    .footer-content p {
        width: 48%;
        font-size: 12px;
    }
}

@media(max-width:1220px) {
    nav ul {
        display: none;
    }

    .logo {
        margin: 0;
        padding: 20px 0 20px 16px;
        width: 38%;
        border-right: 2px solid #ffffff;
    }

    .logo img {
        width: 90%;
    }


    .social-icons {
        margin: 0;
        width: 40%;
    }

    .hamburger-menu {
        display: flex;
    }
}

/*LAPTOP*/
@media(max-width:1024px) {


    .hero {
        background-position: 55% 50%;
    }

    .hero-content h1 {
        font-size: 100px;
    }

    .hero-content a {
        padding: 9px 15px;
        font-size: 13px;
    }

    .inner-welcome p {
        margin-bottom: 10px;
    }

    .studio-content {
        width: 100%;
    }

    .studio-picture {
        width: 100%;
        height: 50vw;
    }

    .ticket {
        height: 380px;
        padding-top: 0;
        padding-bottom: 0;
    }

    .live {
        width: 750px;
        height: 58%;
        padding: 40px 30px 50px 50px;
        border: 10px solid #ffffff;
        font-size: 25px;
    }

    .live h2 {
        transform: translate(0, 0);
    }

    .signup {
        width: 370px;
        height: 57%;
        padding: 75px 10px;
    }

    .container-team h3 {
        font-size: 35px;
    }

    .members {
        width: 98%;
        max-width: 810px;
    }

    .member {
        width: 48%;
        max-width: 310px;
        margin-bottom: 35px;
    }

    .collection-item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .item-7 {
        grid-column: 2/3;
        height: 100%;
        transform: translate(0, -7%);
    }

    .item-8 {
        grid-row: 5/auto;
        height: 100%;
    }

    .item-9 {
        transform: translate(0, 0);
    }

    .item figcaption {
        font-size: 13px;
    }

    .services {
        height: auto;
    }

    .picture-services {
        width: 100%;
        height: 52vw;
    }

    .content-services {
        width: 100%;
        padding: 10%;
    }

    .content-services p {
        font-size: 15px;
    }

    .content-services :nth-child(2) {
        margin-bottom: 15px;
        font-size: 16px;
    }

    .content-services a {
        padding: 12px 30px;
        font-size: 17px;
        margin-top: 8px;
    }

    .news {
        width: 100%;
        margin-bottom: 100px;
    }

    .cards {
        padding-bottom: 0px;
    }

    .testimonials {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        gap: 25px;
    }

    .footer-content p {
        font-size: 12px;
    }

    footer {
        padding: 65px 0 40px 0;
        font-size: 13px;
    }

    .footer-content p {
        width: 100%;

    }
}

/*TABLET*/
@media(max-width:768px) {
    .inner-welcome {
        width: 92%;
    }

    .inner-studio {
        width: 85%;
    }

    .studio-picture {
        height: 52vw;
    }

    .ticket {
        gap: 30px;
    }

    .live {
        height: 58%;
        padding-left: 35px;
    }

    .signup {
        height: 58%;
    }

    .item-3 figcaption {
        padding-top: 15px;

    }

    .item-2 figcaption {
        padding-top: 15px;
    }

    .item-5:hover figcaption {
        bottom: 30px;
    }

    .trends-container {
        width: 90%;
    }

    .content-trends h2 {
        font-size: 35px;
    }

    .first-card>.card-picture {
        height: 200px;
    }
}

@media(max-width:640px) {
    .ticket {
        flex-wrap: wrap;
        height: auto;
        padding: 75px 0;
        gap: 20px;
    }

    .live {
        width: 90%;
        height: auto;
        padding-top: 6%;
        padding-bottom: 10%;
        padding-left: 35px;
        padding-right: 10px;
    }

    .signup {
        width: 90%;
        height: auto;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .collection-item {
        grid-template-columns: 1fr;
        gap: 4px;
    }

    .collection-item>.item {
        transform: translate(0, 0);
        grid-row: auto;
        grid-column: auto;
        height: auto;
    }

    .item-5:hover figcaption {
        bottom: 20px;
    }

    .first-card,
    .second-card {
        width: 100%;
    }

    .first-card {
        margin-bottom: 50px;
    }

    .first-card>.card-picture,
    .second-card>.card-picture {
        height: auto;
        max-width: 100%;
    }

    .card-buttons {
        height: 70px;
    }

    .card-buttons a {
        width: 100%;
        height: 50%;
    }

    .get-in-touch {
        width: 100%;
        padding: 95px 0px;
        gap: 18px;
    }

    .footer-content {
        gap: 28px;
    }

    .footer-content p {
        font-size: 12px;
    }

    footer {
        padding: 45px 0 50px 0;
        font-size: 13px;
    }
}

/*MOBILE L*/
@media(max-width:425px) {
    .logo {
        flex: 1;
    }

    .logo img {
        width: 90%;
    }

    .social-icons {
        display: none;
    }

    .hero {
        background-position: 49% 50%;
    }

    .hero-content h1 {
        font-size: 80px;
        margin-bottom: 30px;
    }

    .hero p {
        font-size: 20px;
        padding: 5px;
    }

    .inner-welcome {
        width: 85%;
    }

    .inner-welcome h2 {
        font-size: 29px;
    }

    .inner-studio h2 {
        font-size: 30px;
    }

    .live {
        width: 85%;

    }

    .live {
        font-size: 21px;
        padding-left: 25px;
    }

    .signup {
        width: 85%;
    }

    .members {
        align-items: center;
        justify-content: center;
    }

    .container-team {
        width: 85%;
    }

    .container-team h2 {
        font-size: 32px;
    }

    .member {
        width: 95%;
        margin-bottom: 40px;
    }

    .members figcaption {
        margin-top: 15px;
    }

    .member figcaption h3 {
        font-size: 28px;
        margin-bottom: 12px;
    }

    .news h2 {
        font-size: 33px;
        font-weight: 100;
    }

    .news-title>p {
        font-size: 14px;
    }

    .content-services h3 {
        font-size: 35px;
    }

    .content-services :nth-child(2) {
        font-size: 13px;
    }

    .content-services p {
        font-size: 14px;
    }

    .content-trends h2 {
        font-size: 30px;
    }

    .card-content h3 {
        font-size: 22px;
    }

    .card-content p {
        font-size: 13px;
    }

    .get-in-touch-content {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        gap: 18px;
    }

    .get-in-touch-content h2 {
        font-size: 32px;
        font-weight: 100;
    }
}

/*MOBILE S*/
@media(max-width:320px) {

    .hero h1 {
        font-size: 60px;
    }

    .item figcaption {
        padding-right: 50px;
    }
}